<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Find nearest station</h1>
    <h2>Choose a city</h1>
    <form method="POST" action="/button_click">
        <button id="Phil", type="submit" name="button" value="Button1">Philadelphia</button>
        <button id="D.C.", type="submit" name="button" value="Button2">Washington, D.C.</button>
        <button id="NYC", type="submit" name="button" value="Button3">New York</button>
    </form>
</body>
</html>